<a href="https://colab.research.google.com/github/PrzemyslawSarnacki/AirQualityPrediction/blob/master/PredictionNotebook.ipynb" target="_parent">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import openaq
import warnings

warnings.simplefilter('ignore')

%matplotlib inline

# Set major seaborn asthetics
sns.set("notebook", style='ticks', font_scale=1.0)

# Increase the quality of inline plots
mpl.rcParams['figure.dpi']= 500

In [4]:
api = openaq.OpenAQ()
resp = api.cities(df=True, limit=10000)

# display the first 10 rows
resp.query("country == 'PL'")

     country            name            city   count  locations
2001      PL        Augustów        Augustów   88266          2
2002      PL           Belsk           Belsk   32105          1
2003      PL      Belsk Duży      Belsk Duży   87034          1
2004      PL           Biała           Biała   27573          1
2005      PL  Biała Podlaska  Biała Podlaska  106955          1
...      ...             ...             ...     ...        ...
2171      PL        Zielonka        Zielonka   98239          1
2172      PL     Złoty Potok     Złoty Potok  133381          1
2173      PL            Żory            Żory   48437          1
2174      PL        Żyrardów        Żyrardów   45537          1
2175      PL          Żywiec          Żywiec   71510          1

[175 rows x 5 columns]

In [5]:
CITIES = ["Warszawa", "Kraków", "Poznań", "Katowice", "Białystok"]
PARAMETERS = ['pm25', 'pm10', 'no2', 'so2', 'o3', 'co']
LOCATIONS = ["Warszawa-Śródmieście", "Kraków-", "Poznań", "Katowice", "Białystok-Miejska", "WIOŚ Elbląg ul. Bażyńskiego"]

In [6]:
import unicodedata

def strip_accents(text):
    return ''.join(c for c in unicodedata.normalize('NFKD', text.lower().replace("ł","l")) if unicodedata.category(c) != 'Mn')

In [7]:
def check_params():
    return all(param in res.parameter.unique() for param in PARAMETERS) 

dfs = {}

for city in CITIES:
    print(city)
    dfs[strip_accents(city)] = pd.DataFrame()
    for page in range(1,11):
        res = api.measurements(city=city, page=page, limit=10000, df=True)
        print(check_params())
        if check_params():
            dfs[strip_accents(city)] = dfs[strip_accents(city)].append(res)

Warszawa
True
True
True
True
True
True
True
True
True
True
Kraków
True
True
True
True
True
True
True
True
True
True
Poznań
True
True
True
True
True
True
True
True
True
True
Katowice
True
True
True
True
True
True
True
True
True
True
Białystok
True
True
True
True
True
True
True
True
True
False

In [8]:
dfs["bialystok"].head()

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
date.local,,,,,,,,,
2020-12-22 16:00:00,Białystok-Warszawska,o3,22.00,b'\xc2\xb5g/m\xc2\xb3',PL,Białystok,2020-12-22 15:00:00+00:00,53.129306,23.181744
2020-12-22 16:00:00,Białystok-Miejska,no2,10.10,b'\xc2\xb5g/m\xc2\xb3',PL,Białystok,2020-12-22 15:00:00+00:00,53.126689,23.155869
2020-12-22 16:00:00,Białystok-Miejska,co,417.00,b'\xc2\xb5g/m\xc2\xb3',PL,Białystok,2020-12-22 15:00:00+00:00,53.126689,23.155869
2020-12-22 16:00:00,Białystok-Miejska,bc,0.84,b'\xc2\xb5g/m\xc2\xb3',PL,Białystok,2020-12-22 15:00:00+00:00,53.126689,23.155869
2020-12-22 16:00:00,Białystok-Warszawska,pm10,26.28,b'\xc2\xb5g/m\xc2\xb3',PL,Białystok,2020-12-22 15:00:00+00:00,53.129306,23.181744

In [9]:
organized_dfs = {}

for city in CITIES:    
    df_avg = pd.DataFrame()
    for param in PARAMETERS:
        df_avg[param] = dfs[strip_accents(city)].loc[dfs[strip_accents(city)]["parameter"] == param].resample('D').mean()["value"]
        organized_dfs[strip_accents(city)] = df_avg
        # .drop(columns=["coordinates.latitude", "coordinates.longitude"])

In [10]:
organized_dfs

{'warszawa':                  pm25       pm10        no2       so2         o3           co
 date.local
 2020-05-09  22.713636  48.241250  73.736667  3.100000  18.837143   870.000000
 2020-05-10  16.482353  23.090882  23.814167  5.457083  64.008687   717.166667
 2020-05-11  16.649850  25.342030  24.885432  6.765833  65.633646   815.083333
 2020-05-12   3.088226   3.746377  11.982917  4.730833  57.013125   709.500000
 2020-05-13  12.944483  19.946897  30.575556  3.646667  65.377778   755.333333
 ...               ...        ...        ...       ...        ...          ...
 2020-12-18  37.777281  42.442982  29.465543  6.770435   6.868626  1334.217391
 2020-12-19  36.421228  40.852895  23.945761  4.084348   8.846803  1185.043478
 2020-12-20  30.318833  31.197000  17.121458  4.358333  18.062042   988.041667
 2020-12-21  30.687833  32.746083  23.669479  5.507917  15.765789  1196.083333
 2020-12-22  34.622824  35.597882  23.795000  4.892353  10.893922  1093.941176

 [228 rows x 6 columns],
 'krakow':                  pm25       pm10        no2       so2         o3           co
 date.local
 2020-05-03  15.359992  19.020074  23.696878  2.686022  39.798900   638.040000
 2020-05-04  22.410796  30.211097  32.043899  3.379675  45.382187   639.160870
 2020-05-05  13.499425  21.800434  32.404854  2.685626  50.303708   480.504792
 2020-05-06  17.401796  21.399353  25.153866  3.555176  45.449663   440.752766
 2020-05-07  13.493658  23.363300  26.514167  4.196310  60.412496   436.120638
 ...               ...        ...        ...       ...        ...          ...
 2020-12-18  57.178692  56.157754  36.203333  6.707035   4.178436  1165.494375
 2020-12-19  55.509320  49.275682  35.201456  4.930196   4.064935  1178.724783
 2020-12-20  51.287302  46.543194  34.504582  4.095306   4.360334  1111.594894
 2020-12-21  60.078052  66.137564  37.446857  4.402537   3.357017  1207.890208
 2020-12-22  86.629241  89.683336  37.939641  4.785282   3.505523  1549.196471

 [234 rows x 6 columns],
 'poznan':                  pm25       pm10        no2       so2         o3          co
 date.local
 2019-11-29   4.218372   8.731537  14.902683  7.082469  45.275557  313.746429
 2019-11-30  11.880328  16.139000  19.018742  6.000249  39.571808  342.697234
 2019-12-01  31.790998  36.353702  18.083768  5.595508  26.155192  437.370213
 2019-12-02  25.413275  30.129265  26.857190  6.941262  24.857900  440.190667
 2019-12-03  18.329508  21.454578  22.830703  5.395442  37.439717  362.619149
 ...               ...        ...        ...       ...        ...         ...
 2020-12-18  33.335704  37.207404  27.131924  5.639712   2.906450  659.574583
 2020-12-19  35.224991  36.644704  19.510162  3.780952   8.037169  638.464783
 2020-12-20  47.337267  49.410513  21.235826  4.482264   3.349049  858.995217
 2020-12-21  36.252542  38.491775  24.510426  5.056295   2.119315  823.948750
 2020-12-22  19.623176  21.020406  19.864011  7.223665   9.623811  708.667222

 [390 rows x 6 columns],
 'katowice':                  pm25       pm10        no2        so2         o3           co
 date.local
 2019-07-03   7.689020  16.799650  24.282370   4.857108  71.110461   404.878261
 2019-07-04   8.975631  18.590008  38.888245   6.297627  65.465210   233.946250
 2019-07-05   9.812030  22.447542  58.200983   5.195986  50.737774   218.611250
 2019-07-06   9.300271  20.353258  46.121204   4.639730  80.756450   255.408947
 2019-07-07  11.236288  16.778017  24.102881   5.616290  60.756996   111.794375
 ...               ...        ...        ...        ...        ...          ...
 2020-12-18  41.311377  46.791573  40.456008  11.768558   6.028642   825.807500
 2020-12-19  42.187145  44.115025  36.882057  18.730509   7.927854   722.030909
 2020-12-20  49.151962  52.488948  34.697202  17.109275   7.847905   816.536250
 2020-12-21  52.692263  56.658537  43.341965  15.779304   7.252557   962.726250
 2020-12-22  66.598535  76.094808  44.326406  14.896881   7.021939  1030.512222

 [539 rows x 6 columns],
 'bialystok':                  pm25       pm10        no2       so2         o3          co
 date.local
 2019-04-26  15.055556  41.340000  14.757895  1.888889        NaN  375.444444
 2019-04-27  22.875000  53.963750   9.058333  1.683333        NaN  389.583333
 2019-04-28  21.333333  40.565833   7.516667  1.004167        NaN  364.250000
 2019-04-29  16.291667  31.296667  10.083333  1.362500        NaN  294.875000
 2019-04-30  12.791667  29.183333  15.266667  1.066667        NaN  269.958333
 ...               ...        ...        ...       ...        ...         ...
 2020-12-18  34.000000  38.865217  16.882609  0.300000   7.913043  529.434783
 2020-12-19  33.400000  38.681739  15.480000  0.830000  18.217391  404.400000
 2020-12-20        NaN  21.634167        NaN       NaN  27.826087         NaN
 2020-12-21  24.916667  26.481250   9.007692  2.346154  31.625000  377.538462
 2020-12-22  27.647059  34.318235   8.758824  1.917647  22.529412  404.647059

 [607 rows x 6 columns]}

In [16]:
for i in organized_dfs:
    print(i)

warszawa
krakow
poznan
katowice
bialystok